[url "git@github.com:{{ .username }}/"]
  insteadOf = https://github.com/{{ .username }}/

[user]
  name = {{ .name }}
  email = {{ .email }}
{{- if .gpgKeyId }}
  signingkey = {{ .gpgKeyId }}
{{- end }}

[init]
  defaultBranch = main

[push]
  default = current
  autoSetupRemote = true

{{- if .gpgKeyId }}
[gpg]
  format = ssh

[gpg "ssh"]
  program = /opt/1Password/op-ssh-sign

[commit]
  gpgsign = true
{{ end -}}

[merge]
  conflictStyle = zdiff3

[core]
  pager = delta-custom # Run wrapper

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true  # use n and N to move between diff sections
  line-numbers=true
  side-by-side=true

[delta "light-theme"]
  light = true
  syntax-theme = TokyoNight Day

[delta "dark-theme"]
  light = dark
  syntax-theme = TokyoNight Night
