{{ template "file_title" }}
{{ template "file_location" . }}
if ! command_exists "cargo"; then
  debug "$(purple "Action->Ignoring"): '$(orange "cargo")' not found."
  return 0
fi
try_load_file "${CARGO_HOME}/env"
debug "$(purple "Action->Loaded"): '$(orange "cargo")' found."
return 0
