{{ template "file_title" }}
{{ template "file_location" . }}
if ! command_exists "fzf"; then
  debug "$(purple "Action->Ignoring"): '$(orange "fzf")' not found."
  return 0
fi
source <(fzf --${SHELL_BASENAME})
debug "$(purple "Action->Loaded"): '$(orange "fzf")' found. Initialized with '$(orange "${SHELL_BASENAME}")' shell."
return 0
