{{ template "file_title" }}
{{ template "file_location" . }}
{{ $cmd := "zoxide" }}
if ! command_exists "{{ $cmd }}" || ! command_exists "z"; then
  return
fi
eval "$({{ $cmd }} init ${SHELL_BASENAME})"
