{{ template "file_title" "Define the bare minimum shell functions" }}
{{ template "file_location" . }}
#---------- Base ----------------------------------------------------#
is_empty_string() { [[ -z "${1}" ]] }
#--------------------------------------------------------------------#
