{{ template "file_title" "Define the bare minimum shell functions" }}
{{ template "file_location" . }}
#---------- Base ----------------------------------------------------#
is_empty_string() { [[ -z "${1}" ]] }
is_not_empty_string() { [[ -n "${1}" ]] }
is_equal_string() { [[ "${1}" == "${2}" ]] }
is_not_equal_string() { [[ "${1}" != "${2}" ]] }

is_equal() { [[ ${1} -eq ${2} ]] }
is_not_equal() { [[ ${1} -ne ${2} ]] }
is_lower_than() { [[ ${1} -lt ${2} ]] }
is_lower_than_equal() { [[ ${1} -le ${2} ]] }
is_greater_than() { [[ ${1} -gt ${2} ]] }
is_greater_than_equal() { [[ ${1} -ge ${2} ]] }

is_file() { is_not_empty_string "${1}" && [[ -f "${1}" ]] }
is_executable() { is_not_empty_string "${1}" && [[ -x "${1}" ]] }
is_directory() { is_not_empty_string "${1}" && [[ -d "${1}" ]] }
is_readable() { is_not_empty_string "${1}" && [[ -r "${1}" ]] }
is_symlink() { is_not_empty_string "${1}" && [[ -h "${1}" ]] }
is_non_zero_size() { is_not_empty_string "${1}" && [[ -s "${1}" ]] }
is_zero_size() { is_not_empty_string "${1}" && [[ ! -s "${1}" ]] }

contains_string() {
  is_not_empty_string "${1}" && \
  is_not_empty_string "${2}" && \
  [[ "${1}" =~ "${2}" ]]
}
#---------- File ----------------------------------------------------#
try_load_file() {
  if is_file "${1}"; then
    source "${1}" || warn "Couldn't load file: '$(orange "${1}")'"
  else
    debug "Skip: '$(orange "${1}")' is not file"
  fi
}
#---------- Directory -----------------------------------------------#
ensure_dir_exists() { is_not_empty_string "${1}" && mkdir -pv "${1}"; }
#---------- Terminal ------------------------------------------------#
command_exists() { is_not_empty_string "$(type -t "${1}")"; }

is_shell() { contains_string "$(ps -p $$ -ocmd=)" "${1}"; }
is_bash() { is_shell "bash"; }
is_zsh() { is_shell "zsh"; }

try_load_file_if_shell() {
  if is_shell "${1}"; then
    try_load_file "${2}"
  fi
}

to_completion() {
  if is_empty_string "${1}"; then
    echo "Error: Enter the full command. Ex: to_completion \"my_tool completion bash\"" >&2
    return 1
  fi
  ensure_dir_exists "${SHELL_DIR_COMPLETION}"
  local filename="${1%% *}"
  eval "${1}" > "${SHELL_DIR_COMPLETION}/${filename}"
  is_non_zero_size "${SHELL_DIR_COMPLETION}/${filename}" && \
    echo "Created '${filename}' in '${SHELL_DIR_COMPLETION}'"
}

to_completions() {
  if is_empty_string "${1}"; then
    echo "Error: Enter the full command. Ex: my_tool completion bash | to_completions my_tool" >&2
    return 1
  fi
  ensure_dir_exists "${SHELL_DIR_COMPLETION}"
  cat > "${SHELL_DIR_COMPLETION}/${1}"
  is_non_zero_size "${SHELL_DIR_COMPLETION}/${1}" && echo "Created '${1}' in '${SHELL_DIR_COMPLETION}'"
}
#---------- Log -----------------------------------------------------#
# ${1} - Verbosity level
# ${2} - Message
# ${3} - Log type (optional)
# ${4} - Log type color (optional)
log_shell() {
  # Verbosity/Message empty; return error
  if is_empty_string "${1}" || is_empty_string "${2}"; then
    return 1
  fi

  # Verbosity not compatible; return other
  if is_greater_than "${1}" "${SHELL_VERBOSITY:-2}"; then
    return 126
  fi

  local color=${4:-"$(tput setab 232;tput setaf 255;tput bold)"}
  local reset="$(tput sgr0)"
  local msg="${3:-"[MESSAGE]"}"
  echo -e "$(colorize "${color}" "${msg}" "${reset}") --- ${2}"
  return 0
}

debug() { log_shell "3" "${@}" "[VERBOSE]" "$(tput setab 55;tput bold)"; }

info() { log_shell "2" "${@}" "[INFO]" "$(tput setab 32;tput bold)"; }

warn() { log_shell "2" "${@}" "[WARN]" "$(tput setab 178;tput setaf 9;tput bold)"; }

error() { log_shell "1" "${@}" "[ERROR]" "$(tput setab 88;tput bold)"; }

critical() { log_shell "0" "${@}" "[CRITICAL]" "$(tput setab 160;tput bold)"; }
#---------- Color ---------------------------------------------------#
# https://en.wikipedia.org/wiki/ANSI_escape_code#3-bit_and_4-bit
colorize() { printf "%s" "${@}"; }

orange() {
  local color="$(tput setaf 166)"
  local reset="$(tput sgr0)"
  echo -e "$(colorize "${color}" "${*}" "${reset}")";
  return 0
}

purple() {
  local color="$(tput setaf 128)"
  local reset="$(tput sgr0)"
  echo -e "$(colorize "${color}" "${*}" "${reset}")";
  return ${shell_exit_codes[success]}
}
#--------------------------------------------------------------------#
