{{ template "file_title" }}
{{ template "file_location" . }}
if ! command_exists "bat"; then
  debug "$(purple "Alias->Ignoring"): '$(orange "bat")' not found."
  return 0
fi
alias cat="bat"
debug "$(purple "Alias->Loaded"): '$(orange "bat")' aliases created."
return 0
