{{ template "file_title" }}
{{ template "file_location" . }}
exists() {
  type "${1}" &>/dev/null
  if is_not_equal "${?}" "0"; then
    echo No
    return
  fi
  echo Yes
}
debug "$(purple "Alias->Loaded"): '$(orange "common")' aliases created."
return 0
