{{ template "file_title" }}
{{ template "file_location" . }}
if ! command_exists "eza"; then
  debug "$(purple "Alias->Ignoring"): '$(orange "eza")' not found."
  return 0
fi
alias ls="eza --color=always --icons=always --grid --all --git --no-quotes --group-directories-first --no-filesize --no-time --no-user --no-permissions"
alias ll="eza --color=always --icons=always --long --all --git --no-quotes --group-directories-first --no-filesize --header --no-time --no-user --no-permissions"
alias la="eza --color=always --icons=always --long --all --git --no-quotes --group-directories-first --header --octal-permissions --hyperlink=always --time-style=long-iso --no-user --no-permissions"
debug "$(purple "Alias->Loaded"): '$(orange "eza")' aliases created."
return 0
