{{ template "file_title" }}
{{ template "file_location" . }}
if ! command_exists "fd"; then
  debug "$(purple "Alias->Ignoring"): '$(orange "fd")' not found."
  return 0
fi
alias find="fd"
debug "$(purple "Alias->Loaded"): '$(orange "fd")' aliases created."
return 0
