{{ template "file_title" }}
{{ template "file_location" . }}
if ! command_exists "fzf"; then
  debug "$(purple "Alias->Ignoring"): '$(orange "fzf")' not found."
  return 0
fi
alias history="history | fzf"
debug "$(purple "Alias->Loaded"): '$(orange "fzf")' aliases created."
return 0
