{{ template "file_title" }}
{{ template "file_location" . }}
if ! command_exists "hardcode-tray"; then
  debug "$(purple "Alias->Ignoring"): '$(orange "hardcode-tray")' not found."
  return 0
fi
alias tray-fix="sudo -E hardcode-tray --conversion-tool RSVGConvert --size 22 --dark-theme Papirus-Dark --light-theme Papirus-Light"
debug "$(purple "Alias->Loaded"): '$(orange "hardcode-tray")' aliases created."
return 0
