{{ template "file_title" }}
{{ template "file_location" . }}
if ! command_exists "pacman"; then
  debug "$(purple "Alias->Ignoring"): '$(orange "pacman")' not found."
  return 0
fi
alias pac-up="sudo pacman -Syu"
alias pac-add="sudo pacman -Sy"
alias pac-rm="sudo pacman -Rns"
alias pac-search="pacman -Ss"
debug "$(purple "Alias->Loaded"): '$(orange "pacman")' aliases created."
return 0
