{{ template "file_title" }}
{{ template "file_location" . }}
! command_exists "reflector" && return
alias up-mirror="sudo reflector --latest 15 --protocol https --fastest 5 --sort age --save /etc/pacman.d/mirrorlist"
alias view-mirror="cat /etc/pacman.d/mirrorlist"
