{{ template "file_title" }}
{{ template "file_location" . }}
if ! command_exists "tokei"; then
  debug "$(purple "Alias->Ignoring"): '$(orange "tokei")' not found."
  return 0
fi
alias summarize="tokei --sort files"
debug "$(purple "Alias->Loaded"): '$(orange "tokei")' aliases created."
return 0
