{{ template "file_title" }}
{{ template "file_location" . }}
if ! command_exists "cargo" || ! is_directory "${HOME}/.cargo"; then
  debug "$(purple "Env->Ignoring"): '$(orange "cargo")' not found."
  return 0
fi
export CARGO_HOME="${HOME}/.cargo"
export PATH="${CARGO_HOME}/bin:${PATH}"
debug "$(purple "Env->Loaded"): '$(orange "cargo")' environment variables created."
return 0
