{{ template "file_title" }}
{{ template "file_location" . }}
zinit snippet OMZL::completion.zsh
zinit snippet OMZL::directories.zsh
zinit snippet OMZL::history.zsh
zinit snippet OMZL::key-bindings.zsh

zinit ice from'gh-r' as 'program'
zinit light decayofmind/zsh-fast-alias-tips

zinit light 0b10/cheatsheet
zinit light scaryrawr/fzf.zsh

zi for \
    atload"zicompinit; zicdreplay" \
    blockf \
    lucid \
    wait \
  zsh-users/zsh-completions \
  zdharma-continuum/fast-syntax-highlighting \
  zsh-users/zsh-autosuggestions

