{{ template "file_title" }}
{{ template "file_location" . }}
#---------- Functions -----------------------------------------------#
command_exists() {
  (( $+commands[${1}] || $+functions[${1}] || $+aliases[${1}] || $+builtins[${1}] ))
}
#---------- Env -----------------------------------------------------#
export SHELL_DIR_COMPLETION="${XDG_DATA_HOME}/zsh-completion/completions"
# remove empty components to avoid '::' ending up
# resulting in './' being in $PATH, etc
path=( "${path[@]:#}" )
fpath=( "${fpath[@]:#}" ${SHELL_DIR_COMPLETION} )
infopath=( "${infopath[@]:#}" )
manpath=( "${manpath[@]:#}" )
# remove duplicates from some env vars
typeset -gU cdpath CPPFLAGS cppflags FPATH fpath infopath
typeset -gU LDFLAGS ldflags MANPATH manpath PATH path PKG_CONFIG_PATH

try_load_file "${SHELL_SHELLS_HOME}/zshbindsrc"
#--------------------------------------------------------------------#
